[submodule "ranger"]
	path = ranger
	url = https://github.com/fradav/ranger.git
[submodule "HighFive"]
	path = HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "boost-numeric-bindings"]
	path = boost-numeric-bindings
	url = https://git.tiker.net/trees/boost-numeric-bindings.git
[submodule "eigen"]
	path = eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "wingetopt"]
	path = wingetopt
	url = https://github.com/alex85k/wingetopt.git
