[submodule "ranger"]
	path = ranger
	url = https://github.com/imbs-hl/ranger.git
[submodule "HighFive"]
	path = HighFive
	url = ./HighFive
[submodule "boost-numeric-bindings"]
	path = boost-numeric-bindings
	url = ./boost-numeric-bindings
