[submodule "ranger"]
	path = ranger
	url = https://github.com/imbs-hl/ranger.git
[submodule "HighFive"]
	path = HighFive
	url = https://github.com/BlueBrain/HighFive.git
[submodule "boost-numeric-bindings"]
	path = boost-numeric-bindings
	url = https://git.tiker.net/trees/boost-numeric-bindings.git
